{{ define "index" }}

{{ template "_common/header" .}}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    No thing here now...
  </div>
</div>

{{ template "_common/footer" .}}

{{ end }}
