body {
  background-color: #EFEFEF;
}

main {
  position: relative;
}

#login-form {
  margin: 0 auto;
  margin-top: 10em;
}

#login-form > .mdl-card__title {
  color: #fff;
  height: 168px;
  background: url('/img/login.jpg') center / cover;
}

.layout-transparent {
  min-height: 200px;
  background: url('/img/transparent.jpg') center / cover;
}

.layout-drawer {
  width: 340px;
  transform: translateX(-350px);
}

.table-center {
  margin: 0 auto;
}

.script-editor {
  min-height: 50vh;
}

.align-right {
  text-align: right;
}

.with-add {
  margin-top: -45px;
  z-index: 5;
}
