{{ define "_common/footer"}}
  </main>
</div>

<!-- Ace Editor -->
<script src="/vendor/ace/ace.js"></script>
<script src="/vendor/ace/theme-solarized_dark.js"></script>
<script src="/vendor/ace/mode-javascript.js"></script>
<script src="/vendor/ace/worker-javascript.js"></script>

<!-- Script -->
<script src="/vendor/promise.min.js"></script>

</body>
</html>
{{ end }}
