{{ define "_common/header" }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Plurk Robot</title>

    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Site Style -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

  <div class="mdl-layout mdl-js-layout">

    {{ template "_common/navigation" . }}

    <main class="mdl-layout__content">

{{ end }}
